/* Universal setup */

html {
    font-size: 16px;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

header .logo{
    width: 200px;
}

header nav li{
    display: inline;
    padding-left: 10px;
}

header nav li a{
    color: black;
}

@media only screen and (max-width: 425px){
    header {
        display: block;
        justify-items: center;
    }

    header nav li{
        display: block;
        padding: 5px 0px;
    }
}

/* banner */

main .banner{
    background-image: url(../images/InnovatechSolutionsCompanyBanner.webp);
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.banner div{
    text-align: center;
    background-color: white;
    padding: 10px;
}

/* general container display */

.container{
    margin: 20px 10px;
}

.display{
    border: 1px black dashed;
    padding: 5px;
}


/* individual */

.display h3{
    font-size: 1.5rem;
    text-decoration: underline;
}

.container h2{
    text-decoration: underline;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 10px;
}


.products .display {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 10px auto;
}

.container  .display img{
    margin: auto;
    height: 200px;
    grid-row: 1/4;
}

.container .members .display {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    margin: 10px auto;
}

.container .display .title{
    font-size: 0.8rem;
    font-style: italic;
}

@media only screen and (max-width: 425px){
    .products .display {
        display: block;
        justify-items: center;
        margin: 10px auto;
    }

    .container .members .display {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin: 10px auto;
    }

}

/* Footer */

footer{
    margin: 20px 10px;
}